/* Estilos De Pagina Principal (Mobile-First)  */
/* ------------------------------------------- */
@media (min-width: 900px) {
  /* Configuracion Base Pagina */
  html {
    scroll-padding-top: 165px;
  }

  /* Estructura Grid General de la Pagina */
  .grid-container {
    max-width: 100%;
    margin: 0 auto;
  }

  /* Configuracion  General del area de la Cabecera */
  .header {
    width: 100%;
    left: 0;
    height: 180px;
    display: flex;
    justify-content: space-between;
  }

  /* Elementos de la cabecera */
  /* Logotipo Principal */
  .logo {
    width: 20%;
    height: 70%;
    padding: 5px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .logo img {
    width: 100%;
  }

  /* Menu de navegacion */
  header nav {
    background: transparent;
    position: static;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    margin-right: 40px;
    margin-top: 10px;
  }

  header nav ul {
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding: 2px 5px;
  }

  header nav ul li {
    font-size: 1.45rem;
    margin-right: 2px;
    padding: 5px;
  }

  header nav ul li a {
    color: #c4d6db;
    width: fit-content;
    height: fit-content;
    padding: 2px 2px;
    border-radius: 5px;
  }

  header nav ul li:hover {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }

  header nav ul li a span {
    display: none;
  }

  .menu_bar {
    display: none;
  }

  .container-contenido {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Elementos de la Seccion del Contenido (Main) */
  /* Contenedor Main */
  .container-contenido > * {
    text-align: left;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: 0.03em;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
  }

  .container-contenido img {
    display: block;
    margin-right: 50px;
    width: 28%;
    float: left;
  }

  .container-contenido h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 20px;
  }

  /* Sección Inicio  */
  .inicio {
    grid-area: inicio;
    background: rgb(196, 230, 230);
    padding-top: 20rem;
  }

  /* Sección Misión  */
  .mision {
    grid-area: mision;
    background: Beige;
  }

  .mision img {
    width: 100%;
    margin-right: 50px;
    width: 55%;
    float: left;
  }

  /* Sección Visión  */
  .vision {
    grid-area: vision;
    background: Lavender;
  }

  .vision img {
    margin-right: 50px;
    width: 40%;
    float: left;
  }

  /* Sección  Términos y Condiciones  */
  .terminos {
    grid-area: terminos;
    background: Gainsboro;
  }

  .terminos .linksTerminos {
    color: #0389ff;
    font-weight: bold;
  }

  .terminos h5 {
    font-weight: bold;
    text-align: center;
    margin: 1.5rem auto;
    font-size: 1.6rem;
  }

  .terminos img {
    margin-right: 50px;
    width: 35%;
    float: left;
  }

  .responsabilidadesLista {
    margin-left: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
  }

  /* Listas con viñetas de Terminos */
  .textoContenido ul {
    width: fit-content;
    margin-left: 20px;
  }

  /* Sección  Pie de Página  */
  .footer {
    grid-area: footer;
    width: 100%;
    box-shadow: 1rem 0.5rem 0.5rem black;

    background-color: #f3dc80;
    background-image: -webkit-linear-gradient(359deg, #f3dc80 0%, #7fb8d4 78%);
    background-image: -moz-linear-gradient(359deg, #f3dc80 0%, #7fb8d4 78%);
    background-image: -o-linear-gradient(359deg, #f3dc80 0%, #7fb8d4 78%);
    background-image: linear-gradient(359deg, #f3dc80 0%, #7fb8d4 78%);
  }

  .contenido-pie {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    align-items: center;
  }

  .contenido-pie .facebook {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
     border: 2px solid silver;
    margin-bottom: 15px;
    display: grid;
    place-items: center;
    background-color: aliceblue;
  }

  .contenido-pie .facebook img {
    width: 125%;
    object-fit: cover;
  }

  .contenido-pie p {
     color: rgb(41, 38, 38);
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
  }

  .contenido-pie .whatsapp {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
  }

  .contenido-pie .whatsapp img {
    display: block;
    width: 5em;
  }

  .contenido-pie .whatsapp a {
    color: rgb(41, 38, 38);
    font-size: 1.8em;
    text-decoration: none;
    width: fit-content;
  }


  /* --------------------------------------------------------------------------------*/
  /* SECCION DEL CONTENIDO PAGINA CONTADOR ------------------------------------------*/
  /* --------------------------------------------------------------------------------*/

  .container-contador {
    height: 100%;
    display: grid;
    gap: 1px;
    grid: "cuenta" 140px "descarga" 100px;
  }

  .container-contador > * {
    padding: 5px;
    text-align: center;
  }
  /* -----------------------------------*/
  /* ------------- CUENTA ------------- */
  /* -----------------------------------*/

  .cuenta {
    grid-area: cuenta;
    background-image: url("/imagenes/contador.png");
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 10px;
  }

  .cuenta p {
    font-size: 0.8em;
    text-align: center;
    font-weight: 500;
    color: black;
    margin-bottom: 50px;
  }

  .cuenta h2 {
    color: MintCream;
    font-weight: 600;
    position: absolute;
    top: 13px;
    left: 175px;
  }
  /* --------------------------------------------- */
  /* ------ CAJA CONTENEDORA DESCARGAS ------------*/
  /* --------------------------------------------- */

  .descarga {
    grid-area: descarga;
    width: 100%;
    max-width: 500px;
    margin: 10px auto 10px auto;
    background: Azure;
    height: 200px;
  }

  .descarga img {
    width: 60%;
    display: block;
    margin: auto auto;
  }
}
