/* Celulares */
@media (max-width: 600px) {

.container {
  width: 98%;
  height: 100vh;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

}

/* Celulares Landscape */
@media only screen and (orientation: landscape) {
 
  
}