/* Reset General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuracion Fuente */
@font-face {
  font-family: "miFuente";
  src: url("../../01-principal/fonts/Roboto-Regular.ttf");
}

/* Medidas de referencia HTML */
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

/* Configuracion del Body */
body {
  background: lightsteelblue;

  font-family: miFuente;
  font-size: 100%;
}

.container {
  width: 90%;
  height: 100vh;
  max-width: 1200px; /* limita ancho máximo en desktop */
  min-height: 100vh; /* que al menos ocupe toda la altura de la pantalla */
  padding: 8px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container > * {
  /* min-height: 100%; */
  box-shadow: 0px 4px 10px #757474;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.encabezado {
  flex: 1 1 10%;
  background: linear-gradient(to bottom, #1e3a8a 0%, #3b82f6 70%, #60a5fa 100%);
  display: flex;
  justify-content: space-between;
  padding: 1px 16px;
}

.contenedorLinkSalir,
.contenedorLinkEbook {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.linkSalir,
.linkEbook {
  text-decoration: none;
  color: #fef3c7;
  font-size: 0.9em;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.linkSalir:hover,
.linkEbook:hover {
  color: #fbbf24; /* Dorado brillante al hover */
}

.contenedorDatosLogin {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.tituloPagina {
  color: #fef3c7;
  font-size: 1.3em;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.nombreUsuario {
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.2);
  padding: 4px 12px;
  border-radius: 20px;
}

.icon-user {
  color: rgb(12, 22, 30);
  font-size: 1.5em;
  font-weight: bold;
}

.contenidoPromocional {
  flex: 1 1 30%;
  /* border: 1px solid red; */
  display: flex;
}

.contenedorVideoPromocional {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 8px;
  /* border: 1px solid red; */
}

.video {
  flex: 1 1 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
  max-width: 800px; /* ajusta según necesites */
}

.video video {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px; /* opcional */
  height: auto; /* mejor auto para mantener ratio exacto */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18); /* sombra propia del player */
}

.contenedorTarjetas {
  flex: 1 1 60%;
  /* border: 1px solid red; */
}

.reporteVentas {
  flex: 1 1 60%;
}
